.eventinput { 
	display: inline-block;
}

.eventinput input[type=checkbox] {
	display: none;
}

.eventinput input[type=checkbox] + label {
	border-radius: 10px;
  	background: #dddddd;
 	width: 50px;
 	margin-right: 10px;
 	text-align: center;
 	cursor: pointer;
 	font-size: 20px;
 	padding-left: 15px;
 	padding-right: 10px;
}

.eventinput input[type=checkbox]:checked + label {
  background: lightblue;
  color: #ffffff;
}

.friends {
	text-align: center;
}

.title{
	font-family: 'Homemade Apple', cursive;
	font-size: 44px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 0px;
	margin-bottom: -55px;
	border-bottom: 0px;
}

body {
	background-color: white;
}

.list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  border-botom: 1px solid lightblue;
  border-top: 1px solid lightblue;
}
.list li {
  list-style: none;
  border-bottom: 1px solid lightblue;
  text-indent: 25px;
  height: 30px;
  padding: 10px;
  text-transform: capitalize;
}

.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 730px;
  margin-left: 80px;
}

.linesshort {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  min-height: 100%;
  margin-left: 80px;
}

.linessched {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 510px;
  margin-left: 80px;
}

.subtitle {
	font-weight: bold;
}

.msg {
	color: red;
}

.center{
	text-align: center;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 12%;
    color: #666;
    text-align: center;
}

.days {
    background: #eee;
    padding: 0px;
    border: 1px;
    margin-top: 0px;
}

.days li {
	line-height: 20px;
    list-style-type: none;
    display: inline-block;
    width: 12%;
    text-align: center;
    font-size:12px;
    color: #777;
}

.busy {
	background-color: lightblue;
}

hr {
	margin-top: 0px;
	margin-bottom: -1px;
	border-width: 1px;
}

.homelink{
	position: absolute;
	left: 20%;
	font-size: 20px;
	font-family: 'Homemade Apple', cursive;
	text-decoration: none;
	color: black;
}

.schedlink{
	position: absolute;
	left: 35%;
	font-size: 20px;
	font-family: 'Homemade Apple', cursive;
	text-decoration: none;
	color: black;
}

.friendslink{
	position: absolute;
	right: 30%;
	font-size: 20px;
	font-family: 'Homemade Apple', cursive;
	text-decoration: none;
	color: black;
}

.outlink{
	position: absolute;
	right: 15%;
	font-size: 20px;
	font-family: 'Homemade Apple', cursive;
	text-decoration: none;
	color: black;
}

a:hover{
	color: lightblue;
}

.activehome {
	position: absolute;
	left: 20%;
	font-size: 20px;
	font-family: 'Homemade Apple', cursive;
	text-decoration: none;
	color: lightblue;
}

.activesched {
	position: absolute;
	left: 35%;
	font-size: 20px;
	font-family: 'Homemade Apple', cursive;
	text-decoration: none;
	color: lightblue;
}

.activefriends {
	position: absolute;
	right: 30%;
	font-size: 20px;
	font-family: 'Homemade Apple', cursive;
	text-decoration: none;
	color: lightblue;
}

.menulist {
	display: inline;
}

